Repository EVerest/everest-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried, @SirVer, @dorezyuk

.github/CODEOWNERS:

# default option unless later match takes precedence
* @hikinggrass @corneliusclaussen @andistorm @pietfried

# Rust bindings
/everestrs/ @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried

# Rust & Bazel
*.rs @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried
*.bazel @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried
*.bzl @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried
**/Cargo.toml @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried
**/Cargo.lock @SirVer @dorezyuk @hikinggrass @corneliusclaussen @andistorm @pietfried

Bazel: add environment
  WORKSPACE.bazel
  bazel_tools/BUILD.bazel
  bazel_tools/everest_env.bzl
  bazel_tools/modules_def.bzl
  bazel_tools/validate/BUILD.bazel
  bazel_tools/validate/Cargo.lock
  bazel_tools/validate/Cargo.toml
  bazel_tools/validate/src/main.rs
  everestrs/tests/BUILD.bazel
  everestrs/tests/logging.ini
  everestrs/tests/modules/RsExample/BUILD.bazel
  everestrs/tests/modules/RsExample/config.yaml
  everestrs/tests/types/example.yaml
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Add bazel test
  WORKSPACE.bazel
  bazel/BUILD.bazel
  bazel/everest_env.bzl
  bazel/modules_def.bzl
  bazel/validate/BUILD.bazel
  bazel/validate/Cargo.lock
  bazel/validate/Cargo.toml
  bazel/validate/src/main.rs
  everestrs/tests/modules/RsExample/BUILD.bazel
  everestrs/tests/modules/RsExample/test.sh
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Add mosquitto to the image
  .github/workflows/bazel_build.yml
  everestrs/tests/modules/RsExample/test.sh
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried, @SirVer, @dorezyuk

Fix config parsing for everestpy
  CMakeLists.txt
  everestpy/src/everest/everestpy.cpp
  everestpy/src/everest/misc.cpp
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Rust: fix optinal connection and add tests
  everestrs/everestrs-build/src/codegen.rs
  everestrs/tests/modules/RsOptionalConnection/BUILD.bazel
  everestrs/tests/modules/RsOptionalConnection/manifest.yaml
  everestrs/tests/modules/RsOptionalConnection/src/main.rs
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

refactor duplicate code in everestjs and everestpy
  everestjs/conversions.cpp
  everestjs/everestjs.cpp
  everestpy/src/everest/misc.cpp
  include/utils/conversions.hpp
  lib/CMakeLists.txt
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Bump everestjs version to 0.20.2
  everestjs/package.json
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

add missing conversions.cpp
  lib/conversions.cpp
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Move config map conversion into config.hpp/cpp and remove conversions.cpp
  everestjs/everestjs.cpp
  everestpy/src/everest/misc.cpp
  include/utils/config.hpp
  include/utils/conversions.hpp
  lib/CMakeLists.txt
  lib/config.cpp
  lib/conversions.cpp
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

clang-format
  include/utils/config.hpp
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

fix gitignore
  .gitignore
  everestrs/tests/modules/RsOptionalConnection/build.rs
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried, @SirVer, @dorezyuk

bump rust version
  everestrs/Cargo.lock
  everestrs/everestrs/Cargo.toml
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Add test target to check targets
  bazel/everest_env.bzl
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

rename env
  bazel/everest_env.bzl
  everestrs/tests/errors/no_errors.yaml
  everestrs/tests/modules/RsExample/BUILD.bazel
  everestrs/tests/types/example.yaml
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Fix default logging file path: * with prefix is: /usr/etc/everest * without the prefix: /etc/everest
  lib/runtime.cpp
Owners: @hikinggrass, @corneliusclaussen, @andistorm, @pietfried

Wait for before calling user code
  everestrs/tests/modules/RsOnReadyRaceCondition/BUILD.bazel
  everestrs/tests/modules/RsOnReadyRaceCondition/build.rs
  everestrs/tests/modules/RsOnReadyRaceCondition/config.yaml
  everestrs/tests/modules/RsOnReadyRaceCondition/manifest.yaml
  everestrs/tests/modules/RsOnReadyRaceCondition/src/main.rs
  everestrs/tests/modules/RsOnReadyRaceCondition/test.sh
  include/framework/everest.hpp
  lib/everest.cpp
Owners: @SirVer, @dorezyuk, @hikinggrass, @corneliusclaussen, @andistorm, @pietfried
